      </main>
      <footer class="footer">
        <p>All contents &copy 2019 Michael Weber</p>
        <ul class="auth-links">
          <% if (!currentUser) { %>
            <li><a class="" href="/login">Creator Login</a></li>
          <% } else { %>
            <li>Hello, <%= currentUser.username %></li>
            <li><a class="" href="/music/new">Add new music</a></li>
            <li><a class="" href="/logout">Logout</a></li>
          <% } %>
        </ul>
      </footer>
    </div>


  </body>
</html>
