  <footer class="footer">
    <p>All contents &copy 2019 Michael Weber</p>
    <p>
      <a class="" href="/music/new">Add new music</a>
    </p>
  </footer>

  <script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>
