<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nobile|Poiret+One|Quicksand" rel="stylesheet">
  </head>
  <body>
    <div class="site-container">
      <nav class="navbar">
        <a href="/music" class="logo-text">Michael Weber Music</a>
        <%# <ul class="nav-links">
          <li><a href="#">Music</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul> %>
        <ul class="social-links">
          <li><a href="https://soundcloud.com/michaelwebermusic-1" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
          <li><a href="https://twitter.com/IAmMichaelWeber" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/michaelwebermusic/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </nav>
      <main>
        <% if (error && error.length > 0) { %>
          <div class="error">
            <%= error %>
          </div>
        <% } %>

        <% if (success && success.length > 0) { %>
          <div class="success">
            <%= success %>
          </div>
        <% } %>
