<% include partials/header %>

    <img class="landing-image" src="../images/michaelwebermusic4.png" alt="Mchael Weber music">
    <a class="landing-button" href="/music">View All Music</a>


    <script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>
